.main-nav {

  $block-name:                &; // #{$block-name}__element

  display: none;

  @media (min-width: $menu-desktop-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    //margin-top: 4px;
    //margin-bottom: 15px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__item {

    & + & {
      margin-left: 8px;
    }

    &.active {

      #{$block-name}__link {

        &::after {
          display: block;
          content: "";
          position: absolute;
          left: 50%;
          bottom: -1px;
          transform: translateX(-50%);
          width: 26px;
          height: 3px;
          border-radius: 2px;
          background-color: $secondary-color;
        }
      }
    }
  }

  &__link {
    display: block;
    position: relative;
    padding: 7px 8px;
    font-weight: 600;
    text-decoration: none !important;
    color: inherit;

    &:hover,
    &:focus {
      color: inherit;

      &::after {
        display: block;
        content: "";
        position: absolute;
        left: 50%;
        bottom: -1px;
        transform: translateX(-50%);
        width: 26px;
        height: 3px;
        border-radius: 2px;
        background-color: $secondary-color;
      }
    }
  }
}
