.table {

  $block-name:                &; // #{$block-name}__element

  border-collapse: collapse;
  width: 100%;
  margin: 1.5em 0;
  border: 1px solid $border-color;

  caption {
    padding: 6px 16px 4px;
    text-align: left;
    caption-side: top;
    font-size: $font-size-sm;
    line-height: inherit;
    color: $text-muted;
    border-bottom: 1px solid $border-color;
  }

  td,
  th {
    min-width: 100px;
    padding: 8px 16px 7px;
    vertical-align: baseline;
    font-weight: inherit;
    word-break: normal;
    //text-align: center;
    border-bottom: 1px solid $border-color;

    &:not(:first-child) {
      border-left: 1px solid $border-color;
    }
  }

  th {
    font-weight: 800;
  }

  &__header {}

  &__body {}

  &__footer {}
}
