.btn {

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15.21px 24px;
  font-size: $font-size;
  font-weight: 600;
  font-family: inherit;
  line-height: inherit;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: $white;
  border-radius: $border-radius-lg;
  border: none;
  background-color: $main-color;
  user-select: none;
  cursor: pointer;
  transition: background-color $transition-time;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: $white;
    background-color: $main-color--active;
  }

  &--disabled,
  &:disabled {
    cursor: not-allowed;
    color: $main-color--active;
    background-color: rgba(29, 83, 173, 0.24);

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  svg {
    margin-right: 16px;
  }

  &--icon {
    padding-left: 20px; //16
  }

  &--sm {
    padding-top: 7.21px;
    padding-bottom: 7.21px;
    border-radius: 12px;
  }

  &--red {
    background-color: $secondary-color;

    &:hover,
    &:focus,
    &:active {
      background-color: $secondary-color--active;
    }

    &--disabled,
    &:disabled {
      cursor: not-allowed;
      color: $secondary-color--active;
      background-color: rgba(227, 55, 58, 0.24);
      pointer-events: none;
    }
  }
}
