.field-radio {

  $block-name:                &; // #{$block-name}__element

  display: block;
  //margin-bottom: ($line-height / 2);

  &__title {
    display: block;
    font-weight: 600;
    line-height: $line-height;
    margin-bottom: 0.4em;
  }

  &__input-wrap {

    & + & {
      margin-top: 16px;
    }
  }

  &__name {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-left: 32px;
    font-weight: 400;
    line-height: $line-height;
    cursor: pointer;

    &:hover {

      #{$block-name}__name-text {
        //color: $secondary-color;
        color: $main-color;
      }
    }
  }

  &__name-text {
    display: inline-block;

    // своя радиокнопка с картинкой
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      background-image: svg-load('../blocks/field-radio/bg-img/radio-icon.svg');
      background-size: 100%;
      outline: none;
    }

    @at-root input:checked ~ &::before {
      background-image: svg-load('../blocks/field-radio/bg-img/radio-checked-icon.svg');
    }

    @at-root input:disabled ~ & {
      opacity: 0.6;
      cursor: not-allowed;
    }

    span {
      display: inline-block;
      vertical-align: baseline;
      margin-right: 8px;
      font-weight: 600;
      text-transform: uppercase;
    }

    // своя радиокнопка без картинки

    /* &::before {
      content: '';
      position: absolute;
      top: 0.1em;
      left: 0;
      width: 14px;
      height: 14px;
      border: 2px solid currentColor;
      border-radius: 50%;
    } */

    // @at-root input:focus ~ &::before {
    //   @include field-focus;
    // }

    @at-root input:focus ~ span {
      //color: $secondary-color;
      color: $main-color;
      //outline: 1px solid $main-color !important;
    }

    /* &::after {
      content: '';
      position: absolute;
      top: calc(0.1em + 4px);
      left: 4px;
      width: 6px;
      height: 6px;
      opacity: 0;
      border-radius: 50%;
      background-color: currentColor;
      transition: opacity $transition-time;

      @at-root input:checked ~ & {
        opacity: 1;
      }
    } */
  }

  &__input {
    position: absolute;
    top: 0.8em;
    left: 0;
    padding: 0;
    margin: 0;
    transform: translateY(-50%);

    // &:focus,
    // &:active {
    //   @include field-focus;
    // }

    // сокрытие инпута в случае использования своей радиокнопки
    opacity: 0;
  }

  &__help-text-wrap {
    padding-left: 32px;
  }

  &__help-text {
    @include field-help-text;
  }
}
