.find-level-block {
  padding: 40px;
  color: $white;
  background-color: $text-muted;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: $border-radius * 2;

  $block-name:                &; // #{$block-name}__element

  &__title {
    margin-bottom: 24px;
  }

  &__link {
    width: 100%;
  }
}
