.social-links {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @media (min-width: $screen-md) {
    justify-content: initial;
  }

  $block-name:                &; // #{$block-name}__element

  &__item {
    margin-bottom: 16px;
    margin-right: 16px;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border: 1px solid $border-color;
    border-radius: $border-radius;
  }
}
