.logo {

  $block-name:                &; // #{$block-name}__element

  display: inline-flex;
  width: 171px;
  height: 42px;
  white-space: nowrap;
  color: $text-color;

  @media (min-width: $screen-xl) {
    width: 244px;
    height: 60px;
  }

  &--footer {
    width: 192px;
    //height: 96px;

    @media (min-width: $screen-md) {
      width: 304px !important;
      height: 64px !important;
    }

    img {
      width: 100%;
    }
  }
}
