.btn-group {
  margin-top: 32px;

  @media (min-width: $screen-md) {
    margin-top: 40px;
  }

  $block-name:                &; // #{$block-name}__element

  &__inner {

    li {
      display: inline-block;
      vertical-align: top;
      margin-right: 16px;
      margin-bottom: 16px;
    }
  }

}
