.burger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  color: $secondary-color;
  background-color: inherit;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  user-select: none;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $secondary-color--active;
  }

  $block-name:                &; // #{$block-name}__element

  &--close {

  }
}
