.field-checkbox {

  $block-name:                &; // #{$block-name}__element

  display: block;
  //margin-bottom: ($line-height / 2);

  &__title {
    display: block;
    font-weight: 600;
    line-height: $line-height;
    margin-bottom: 0.4em;
  }

  &__input-wrap {

    & + & {
      margin-top: 16px;
    }
  }

  &__name {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-left: 32px;
    font-weight: 400;
    line-height: $line-height;
    cursor: pointer;

    &:hover {

      #{$block-name}__name-text {
        //color: $secondary-color;
        color: $main-color;
      }
    }
  }

  &__name-text {
    display: inline-block;

    // свой чекбокс с картинкой
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      background-image: svg-load('../blocks/field-checkbox/bg-img/check-square-icon.svg');
      background-size: 100%;
    }

    @at-root input:checked ~ &::before {
      background-image: svg-load('../blocks/field-checkbox/bg-img/check-square-checked-icon.svg');
    }

    @at-root input:disabled ~ & {
      opacity: 0.6;
      cursor: not-allowed;
    }

    // / свой чекбокс с картинкой

    // свой чекбокс без картинок

    // &::before {
    //   content: '';
    //   position: absolute;
    //   top: 0.1em;
    //   left: 0;
    //   width: 14px;
    //   height: 14px;
    //   border: 2px solid currentColor;
    //   border-radius: $border-radius;
    // }

    // @at-root input:focus ~ &::before {
    //   @include field-focus;
    // }

    // &::after {
    //   content: '';
    //   position: absolute;
    //   top: calc(0.1em + 1px);
    //   left: 3px;
    //   width: 14px;
    //   height: 6px;
    //   opacity: 0;
    //   border-left: 2px solid currentColor;
    //   border-bottom: 2px solid currentColor;
    //   transform: rotate(-45deg);
    //   transition: opacity $transition-time;

    //   @at-root input:checked ~ & {
    //     opacity: 1;
    //   }
    // }

    // / свой чекбокс без картинок
  }

  &__input {
    position: absolute;
    top: 0.7em;
    left: 0;
    padding: 0;
    margin: 0;
    transform: translateY(-50%);

    // &:focus,
    // &:active {
    //   @include field-focus;
    // }

    // сокрытие инпута в случае использования своего чекбокса
    opacity: 0;
  }

  &__help-text-wrap {
    padding-left: 32px;
  }

  &__help-text {
    @include field-help-text;
  }
}
