.copyrights {
  font-size: $font-size-sm;

  @media (max-width: $screen-md - 1) {
    text-align: center;
  }

  $block-name:                &; // #{$block-name}__element

  &__col-links {
    @include col(xs, 12);
    @include col(md, 5);
    @include col(xl, 5);
  }

  &__col-owner {
    @include col(xs, 12);
    @include col(md, 7);
    @include col(xl, 5);
  }

  &__col-links,
  &__col-owner {

    @media (max-width: $screen-md - 1) {
      margin-bottom: 16px;
    }
  }

  &__col-dev {
    @include col(xs, 12);
    @include col(md, 12);
    @include col(xl, 2);

    @media (min-width: $screen-md) and (max-width: $screen-xl - 1) {
      margin-top: 20px;
    }
  }

  &__owner,
  &__dev  {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  &__owner {

    @media (min-width: $screen-md) {
      width: 100%;
      justify-content: flex-end;
    }
  }

  &__owner-link {
    flex: 1 1 100%;
    color: inherit;

    @media (min-width: $screen-md) {
      flex: 0 1 auto;
    }

    &:hover,
    &:focus {
      color: $main-color--active;
    }

    & + & {

      @media (max-width: $screen-md - 1) {
        margin-top: 16px;
      }

      @media (min-width: $screen-md) {
        margin-left: 32px;
      }
    }
  }

  &__dev {
    width: 100%;
    padding-bottom: 16px;
    justify-content: center;

    a {
      display: inline-flex;
      align-items: center;
      margin-left: 12px;

      &:hover,
      &:focus {

        img {
          opacity: 1;
        }
      }

      img {
        width: 59px;
        height: 22px;
        opacity: $opacity;
        transition: opacity $transition-time;
      }
    }
  }
}
